.container {
  min-height: 100vh;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 24%;
  height: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth {
  width: 20%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navWrapper {
  width: 100%;
  display: flex;
  justify-content: row;
}

.wrapperContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  height: 750px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 750px;
  border: 1px solid black;
}

.block1 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapperBlock1 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subBox {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.block2 {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block3 {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hola {
  border: 2px solid black;
  width: 50px;
  text-align: center;
}

.holaArriba {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  width: 50px;
}

.hola1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
}

.hola2 {
  display: flex;
  flex-direction: column;
  margin-top: 327px;
  align-items: center;
  border: 2px solid black;
}

.hola3 {
  display: flex;
  flex-direction: row;
  margin-top: 325px;
  justify-content: space-between;
  border: 2px solid black;
}

.rowMessage {
  border: 2px solid black;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.message {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 2px solid black;
}

.footerWrapper {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}
