.container {
  width: 1750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
